#conteneur
{
    display: flex;
    justify-content: space-around;
}  

#container{
	display: flex;
    justify-content: space-around;

}


.container-img-texte {
    text-align: center;
}
.img-texte  {
    overflow:auto;
    color:black;
    display: block;
}
.img-texte img {
    float:left;
    margin-right:15px;
    width:5%;
}


body{
	margin: 0vw;
	font-family: "Calibri Light", sans-serif;
}

body header
{
width: 100%;
display:flex;
flex-wrap: wrap;
justify-content: space-between;
background-color:rgb(207, 206, 203) ;


}

body header nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: right;
	font-weight: bold;
	
}

section {
    width:29vw;
    margin:1vw;
}

section img {
    margin:auto;
    height:18vw;
    display:block;
}
section article {
    background: white;
    padding: 0.5vw 1vw;
}
section article h3 {
    font-size: 2.2vw;
    color: black;
    margin:0;
    padding:0;
}

section article p {
    font-size: 1.3vw;
}
section article a {
    background: black;
    color:white;
    font-style: italic;
    text-decoration: none;
    padding:0.2vw 0.5vw;
    font-size:1.3vw;
}

nav a{
	text-decoration: none ;
	color: black;
	font-size: 40px;
	
}

.photos img {
	display: flex;
	justify-content: center;
	padding: 4vw;
 }


nav a:hover 
{
	text-decoration: none ;
	color: white;
}


body img {
	width: 100%;
	vertical-align:bottom;

}

main h1 {
	text-align: center;
	padding-top: 2vw;
	font-family: 'Bebas Neue', cursive;
	font-size: 70px;
	color:  grey;

}




main img{
	width:20vw;
	height:25vw;
	margin: 3vw 3vw 0 3vw;
}


footer{
	background: rgb(207, 206, 203);
}

footer li{
	display: flex;
	justify-content: space-around;
}

footer a {
	text-decoration: none ;
	color: white;
	font-size: 40px;
	padding-top:2vw;
}
h2{
	text-align: center;
	padding-top: 2vw;
	font-family: 'Bebas Neue', cursive;
	font-size: 70px;
	color:  grey;

}

footer a:hover 
{
	text-decoration: none ;
	color: white;
}


#host.php p {
	margin-top: 0px;

  }
   
  fieldset {
	margin-bottom: 15px;
	padding: 10px;
  }
   
  legend {
	padding: 0px 3px;
	font-weight: bold;
	font-variant: small-caps;
  }
   
  label {
	width: 110px;
	display: inline-block;
	vertical-align: top;
	margin: 6px;
  }
   
  em {
	font-weight: bold;
	font-style: normal;
	color: #f00;
  }
   
  input:focus {
	background: #eaeaea;
  }
   
  input, textarea {
	width: 249px;
  }
   
  textarea {
	height: 100px;
  }
   
  select {
	width: 254px;
  }
   
  input[type=checkbox] {
	width: 10px;
  }
   
  input[type=submit] {
	width: 150px;
	padding: 10px;
  }
