#conteneur
{
    display: flex;
    justify-content: space-around;
}  
body{
	margin: 0vw;
	font-family: "Calibri Light", sans-serif;
}

body header
{
width: 100%;
display:flex;
flex-wrap: wrap;
justify-content: space-between;
background-color:rgb(207, 206, 203) ;


}

body header nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: right;
	font-weight: bold;
	
}



nav a{
	text-decoration: none ;
	color: black;
	font-size: 40px;
	
}

.photos img {
	display: flex;
	justify-content: center;
	padding: 4vw;
 }


nav a:hover 
{
	text-decoration: none ;
	color: white;
}


body img {
	width: 100%;
	vertical-align:bottom;

}

main h1, main h2 {
	text-align: center;
	padding-top: 2vw;
	font-family: 'Bebas Neue', cursive;
	font-size: 70px;
	color:  grey;

}



.Catégories{
	display: flex;
	flex-direction: column;
	width: 12vw;
}

.Catégories h3{
	color:  #4b0b26;
	font-size: 30px;
	padding-bottom: 2vw;
}

.Catégories a 
{
	text-decoration: none ;
	color: black;
	padding: 7px 0 7px 0 ;
}


.Catégories a:hover 
{
	text-decoration: none ;
	color: white;
	background: #660033;
}

main img{
	width:20vw;
	height:25vw;
	margin: 3vw 3vw 0 3vw;
}



.test{
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;
	justify-content: space-around;
	padding: 5vw 0 5vw 0;
}

footer{
	background: rgb(207, 206, 203);
}

footer li{
	display: flex;
	justify-content: space-around;
}

footer a, h4 {
	text-decoration: none ;
	color: white;
	font-size: 40px;
	padding-top:2vw;
}

footer h4 {
	text-align: center;

}

footer a:hover 
{
	text-decoration: none ;
	color: white;
}